.top-contributors-wrapper {
  background-color: #000;
  color: #aaa;
  padding: 20px;
  .top-contributors-table {
    td,
    th {
      min-width: 100px;
      padding-right: 50px;
      text-align: center;
      &.name {
        min-width: 300px;
        padding-right: 50px;
      }
      .button {
        color: #77c;
        &:hover {
          color: #55f;
          font-weight: 500;
        }
      }
    }
  }
}
